.mapboxgl-marker {
	--marker-size: 0.3em;
	display: block;
	width: var(--marker-size);
	height: var(--marker-size);
	background-color: #222;
	border-radius: calc(var(--marker-size) / 2);
	transition: opacity 0.5s;
	transition-timing-function: linear;
	animation: blink 1.5s infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  100%   { opacity: 0; }
}
